<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\Python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers> -->
        <directoryBrowse enabled="false" />
        <handlers>
            <remove name="Python FastCGI" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\python\python.exe|C:\python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\confsql\postgresql" />
    <add key="WSGI_HANDLER" value="main.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="main.settings" />
  </appSettings>
</configuration>
